/*{
    font-family: 'Advent Pro', sans-serif;
    border: 2px solid red;
}*/
.mainimg{
    background-image: url("./img/background.jpeg");
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.mainimg p:first-child{
    padding-top: 10%;
    font-size: 8vw;
    font-family: sans-serif;
    font-weight: 600;
    
}
.mainimg p:last-child{
    padding-bottom: 10%;
    font-size: 3vw;
}

header{
    border: solid 2px #ececec;
    display: inline-table;
    text-align: center;
}

nav a{
    color: #339999;
    font-size: 15px;
	text-decoration: none;
    transition: all 1s ease-out;
}
nav a:hover{
	font-size: 20px;
	color: cadetblue;
	text-decoration: none;
}

.active{
    color: #006666;
    font-size: 20px;
}
section{
    display: inline-table;
    text-align: justify;
}
section h2{
    text-align: center;
    padding: 20px 0px;
}
section h1{
    text-align: center;
    font-weight: 200;
    color: #cc6666;
}

#t21 img{
    border-radius: 50%;
    max-height: 100%;
    margin: 5% 22%;
    max-width: 100%;
    opacity: 0.8;
    box-shadow: 0px 20px 50px 2px powderblue;
}
.bootcont{padding:4%;}

.nextimg{
    background-image: url("./img/candy.jpg");
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    text-align: center;
}
.nextimg p{
    padding: 10% 0px;
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 1;
    font-style: italic;
}
.content{
	padding: 5% 0%;
}
.button1{background-color: #EAADEA;
	color: #8E236B;
	padding: 15px 32px;
	text-align: center;
	border-radius: 15%;
    border: 2px solid #EAADEA;
}
.button:hover{background-color: white;}
.button2{
	background-color: #d7d7d7;
	color: black;
	padding: 15px 32px;
	text-align: center;
	border-radius: 15%;
    border: 2px solid #d7d7d7;
}
footer p{
    background: #ececec;
    color: silver;
    text-align: center;
    padding: 20px;
    margin: 0;
}
